<br>

<div class="container">
    <div class="row">
        <label><strong>Listes des avions disponibles</strong></label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Altitude max</th>
                    <th>Capacité max</th>
                    <th>Rotation(s)</th>
                    <th>Temps de montée</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let a of avionsDisponibles, let i=index">
                    <tr *ngIf="!choix || ligne==a.id" (click)="affichageAvion(a.id)" class="choixTableau">
                        <td>{{a.id}}</td>
                        <td>{{a.altitude}}m</td>
                        <td>{{a.capacite}}</td>
                        <td>{{a.rotation}}/{{a.rotationMax}}</td>
                        <td>{{a.tempsMontee}} min</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="row">
        <label><strong>Listes des sauts en attente</strong></label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Altitude</td>
                    <td>Tandem</td>
                    <td>Vol</td>
                    <td>nb sauteur</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of listeSautDemandes">
                    <td>{{s.idSaut}}</td>
                    <td>{{s.altitude}}</td>
                    <td>{{s.tandem}}</td>
                    <td>{{s.vol.id}}</td>
                    <td>{{s.parachutiste.length}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
