<br>

<div class="container">
    <div class="row">
        <label><strong>Listes des avions disponibles</strong></label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Altitude max</th>
                    <th>Capacité</th>
                    <th>Etat</th>
                    <th>Modèle</th>
                    <th>Rotation(s)</th>
                    <th>Temps de montée</th>
                    <th>Situation de l'avion</th>
                    <th>Vol prévu</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let a of avions">
                    <tr *ngIf="!choixAvion || a.idAvion==avion.idAvion" (click)="affichageAvion(a.idAvion)" class="choixTableau">
                        <td>{{a.idAvion}}</td>
                        <td>{{a.altitudeMax}}m</td>
                        <td>{{a.capacite}}</td>
                        <td>{{a.etat}}</td>
                        <td>{{a.model}}</td>
                        <td>{{a.rotation}}/{{a.rotationMax}}</td>
                        <td>{{a.tempsMontee}}min</td>
                        <td>{{a.situation}}</td>
                        <td><ng-container *ngIf="a.vol">{{a.vol.idVol}}</ng-container></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<br>

<div class="container" *ngIf="choixAvion">
    <div class="row">
        <label><strong>Listes des vols en attente</strong></label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Situation Vol</th>
                    <th>Responsable Sol</th>
                    <th>Responsable Vol</th>
                    <th>Date</th>
                    <th>Listes des sauts</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let v of vols, let i=index">
                    <tr *ngIf="!choixVol || v.idVol==vol.idVol" (click)="affichageVol(v.idVol)" class="choixTableau">
                        <td>{{v.idVol}}</td>
                        <td>{{v.situationVol}}</td>
                        <td>
                            <ng-container *ngIf="v.respoSol!=null">
                                {{v.respoSol.nom}} {{v.respoSol.prenom}}
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="v.respoVol!=null">
                                {{v.respoVol.nom}} {{v.respoVol.prenom}}
                            </ng-container>
                        </td>
                        <td>{{v.date}}</td>
                        <td>
                            <ng-container *ngFor="let s of sauts">
                                <ng-container *ngIf="s.vol?.idVol==v.idVol">{{s.idSaut}} </ng-container>
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<br>

<div class="container" *ngIf="choixAvion && choixVol">
    <div class="row">
        <label><strong>Listes des sauts en attente</strong></label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id Saut</th>
                    <th>Hauteur du saut</th>
                    <th>Listes des parachutistes</th>
                    <th>Id Vol</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of sauts">
                    <td>{{s.idSaut}}</td>
                    <td>{{s.altitude}}</td>
                    <td><p *ngFor="let p of s.listParachutiste">{{p.nom}} {{p.prenom}} ({{p.niveau}})</p></td>
                    <td>{{s.vol?.idVol}}</td>
                    <td>
                        <button *ngIf="s.vol==null" class="btn btn-primary" (click)="ajouterSaut(s)">Ajouter le saut à ce vol</button>
                        <button *ngIf="s.vol!=null && s.vol?.idVol!=vol.idVol" class="btn btn-warning" (click)="ajouterSaut(s)">Déplacer le saut à ce vol</button>
                        <button *ngIf="s.vol?.idVol==vol.idVol" class="btn btn-danger" (click)="supprimerSaut(s)">Supprimer le saut de ce vol</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="container" *ngIf="choixAvion && choixVol">
    <div class="row">
        <div class="col-6">
            <div class="form-group row">
                <label for="dateVisite" class="col-sm-2 col-form-label">Choix du respo Sol : </label>
                <div class="col-md-10">
                    <select style="align-items: center;" [(ngModel)]="respoSol">
                        <option *ngFor="let p of instructeur()" [ngValue]="p">({{p.numeroLicence}}) {{p.nom}} {{p.prenom}}</option>
                    </select>
                </div>
                <button class="btn btn-primary" (click)="attributionRespoSol()">Attribuer le Respo</button>
            </div>
        
            <div class="form-group row">
                <label for="dateVisite" class="col-sm-2 col-form-label">Choix du respo Vol : </label>
                <div class="col-md-10">
                    <select style="align-items: center;" [(ngModel)]="respoVol">
                        <option *ngFor="let p of instructeur()" [ngValue]="p">({{p.numeroLicence}}) {{p.nom}} {{p.prenom}}</option>
                    </select>
                </div>
                <button class="btn btn-primary" (click)="attributionRespoVol()">Attribuer le Respo</button>
            </div>
        </div>
        <div class="col">
            <composer-vol *ngIf="vol && avion" class="w-100"></composer-vol>
        </div>
    </div>
</div> -->

<!-- <div class="container" *ngIf="choixAvion && choixVol">
    <br>
    <button class="btn btn-primary" (click)="attributionVolAvion()">Attribuer le vol à l'avion</button>
</div> -->

<br><br><br>