<div class="container-fluid" *ngIf="listeSautDemandes.length > 0">
    <div class="row w-100">
        <label><strong>Sauts disponibles</strong></label>
        <table class="table w-100  table-striped">
            <thead>
                <tr>
                    <td>id</td>
                    <td>altitude</td>
                    <td>parachutistes</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of sautsBonneAltitude()">
                    <td>{{s.idSaut}}</td>
                    <td>{{s.altitude}}</td>
                    <td>
                        <div class="list-group w-100">
                            <div class="list-group-item py-2">Nombre : {{s.listParachutiste.length}}</div>
                            <div class="list-group-item py-1" *ngFor="let p of s.listParachutiste">{{p.nom}} {{p.prenom}} : {{p.niveau}}</div>
                        </div>
                    </td>
                    <td><button class="btn btn-success" (click)="ajouterSaut(s)">Ajouter ce saut</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
