
<ng-container *ngIf="!modificationBool">
    <td>{{avion.idAvion}}</td>
    <td>{{avion.matricule}}</td>
    <td>{{avion.modele}}</td>
    <td>{{avion.altitudeMax}}</td>
    <td>{{avion.capacite}}</td>
    <td>{{avion.rotation}} / {{avion.rotationMax}}</td>
    <td>
        <div class="row mx-1">
            <div class="col">
                <div class="row">
                    {{avion.etat}}
                </div>
                <div class="row">
                    <select [(ngModel)] = "avion.etat" (change)="updateAvion()">
                        <option *ngFor="let etat of etatsPossibles()">{{etat}}</option>
                    </select>
                </div>
            </div>
        </div>        
    </td>
    <td>
        <div class="row mx-1">
            <div class="col">
                <div class="row">
                    {{avion.situation}}
                </div>
                <div class="row">
                    <select [(ngModel)] = "avion.situation" (change)="updateAvion()">
                        <option *ngFor="let situation of situationsPossibles()">{{situation}}</option>
                    </select>
                </div>
            </div>
        </div>  
    </td>
    <td>{{avion?.vol?.situationVol}}</td>
</ng-container>
<ng-container *ngIf="modificationBool">
    <td>
        <input type="number" style="max-width:40px" [placeholder] = "avion.idAvion" [(ngModel)] = "avion.idAvion" />
    </td>
    <td>
        <input type="text"  [placeholder] = "avion.matricule" [(ngModel)] = "avion.matricule"  size="5"/>
    </td>
    <td>{{avion.modele}}</td>
    <td>
        <input type="number" style="max-width:80px" [placeholder]="avion.altitudeMax" [(ngModel)] = "avion.altitudeMax" class="input-sm" />
    </td>
    <td>
        <input type="number" style="max-width:40px" [placeholder]="avion.capacite" [(ngModel)] = "avion.capacite" class="input-sm"/>
    </td>
    <td>{{avion.rotation}} / {{avion.rotationMax}}</td>
    <td>{{avion.etat}}</td>
    <td>{{avion.situation}}</td>
    <td>{{avion?.vol?.situationVol}}</td>
</ng-container>
    <td>
        <div class="row">
            <div class="col">
                <div class="row justify-content-center mb-1">
                    <button *ngIf="!modificationBool" class="btn btn-outline-warning mb-1 py-1 w-100" (click)="modificationBool = !modificationBool; setPreviousState()">Modifier</button>
                    <button *ngIf="modificationBool" class="btn btn-outline-success mb-1 py-1 w-100" (click)="modificationBool = !modificationBool;updateAvion()">Valider</button>
                    <button *ngIf="modificationBool" class="btn btn-outline-success py-1 w-100" (click)="modificationBool = !modificationBool; returnFromPreviousState()">Annuler</button>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-outline-danger py-1 w-100">Supprimer</button>
                </div>
            </div>
        </div>
    </td>

