<td></td>
<td>
    <label for="avionMatricule">Matricule</label>
    <input type="text" class = "form-control boxShadow" id="avionMatricule" [(ngModel)] = "avion.matricule" placeholder="X-XXXX">
</td>
<td>
    <label for="avionModele">Modele</label>
    <input type="text" class = "form-control boxShadow" id="avionModele" [(ngModel)] = "avion.modele" placeholder="Cessna 172">
</td>
<td>
    <label for="avionAltitude">Alt. max</label>
    <input type="number" class = "form-control boxShadow" id="avionAltitude" [(ngModel)] = "avion.altitudeMax" value="4000">
</td>
<td>
    <label for="avionCapa">Capacite max</label>
    <input type="number" class = "form-control boxShadow" id="avionCapa" [(ngModel)] = "avion.capacite" value="4">
</td>
<td>
    <label for="avionRotationsMax">Rotations Max</label>
    <input type="number" class = "form-control boxShadow" id="avionRotationsMax" [(ngModel)] = "avion.rotationMax" value="4">
</td>
<td>
    <label for="avionRotationsMax">Etat</label>
    <select  class = "form-control boxShadow" [(ngModel)] = "avion.etat">
        <option *ngFor="let etat of etatsPossibles()">{{etat}}</option>
    </select>
</td>
<td>
    <label for="avionRotationsMax">Situation</label>
    <select class = "form-control boxShadow" [(ngModel)] = "avion.situation">
        <option *ngFor="let situation of situationsPossibles()">{{situation}}</option>
    </select>
</td>
<td></td>
<td><button class="btn jump" style="vertical-align: center" (click)="addAvion()">Ajouter</button></td>
