<div class="html">
  <br>
    <div class = "row">
    <div class = "col-sm-3"></div>  
    <div class="card m-3  text-white bg-dark boxShadow col-sm-6">
      <div class="card-header">
        <h5>Historique des paiements</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Valeur</th>
                <th>Moyen de paiement</th>
                <th>Parachutiste</th>
                <th></th>
              </tr>
            </thead>
            
            <tbody>
          
              <tr *ngFor="let p of payementSrv.payements">
                <td>{{ p.date }}</td>
                <td>{{ p.valeur }}</td>
                <td>{{ p.moyenPayement }}</td>
                <td>{{ p.parachutiste.nom }}</td>
                <td>
                  <!--button class="btn btn-warning m-2" (click)="editerPatient(patient)">Modifier</button>
                  <button class="btn btn-danger" (click)="supprimerPatient(patient)">Supprimer</button-->
                </td>
              
              </tr>
            </tbody>
          </table>
          <br>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-sm-3"></div>  
    <div class="card m-3  text-white bg-dark boxShadow col-sm-6">
        <div class="car-header">
          <h3>Ajouter un paiement</h3>
        </div>

        <div class="card-body">
          <input class = "form-control selectBorder m-2 boxShadow" type = "number" [(ngModel)]="payement.valeur" placeholder="valeur" >
          <input class = "form-control selectBorder m-2 boxShadow" type = "date" [(ngModel)]="payement.date">
          
          <label> Moyen de paiement :</label>
            <select class = "form-control selectBorder m-2 boxShadow" [(ngModel)]="payement.moyenPayement" >
                <option *ngFor="let e of etatsPossibles()">{{e}}</option>
            </select>

          <label> Parachutiste :</label>
            <select class = "form-control selectBorder boxShadow m-2" [(ngModel)]="payement.parachutiste" >
                <option *ngFor="let p of parachutisteSrv.parachutistes" [ngValue]="p" >{{p.prenom}} {{p.nom}}</option>
            </select>
        </div>    

        <div class="card-footer">
          <button class="btn jump boxShadow m-1" *ngIf="disable" (click)="ajouterPayement()">Ajouter</button>
        </div>
    </div>
</div>  
</div>  




<!--
<input type = "string" [(ngModel)] = "patient.prenom" placeholder="prenom" >
<input type = "string" [(ngModel)] = "patient.nom" placeholder="nom">


<button class="btn btn-warning m-1" *ngIf="!disable" (click)="modifierPatient()" >Modifier le patient</button>
<button class="btn btn-danger m-1" *ngIf="!disable" (click)="annulerModif()" >Annuler</button>
-->