<!-- MODULE AVIONNAGE -->
<div class="card m-3">
	<div class="card-header">
        <h5 class="card-title">Demande de saut</h5>

            <div class="btn-group btn-group-toggle col-12" data-toggle="buttons">
                <label class="btn btn-outline-warning active">
                    <input (click)="changeIsGroup(false)" name="typeSaut" type="radio" value = "Solo"> Solo
                </label>
                <label class="btn btn-outline-warning">
                    <input (click)="changeIsTandem(true)" name="typeSaut" type="radio" value ="Group"> Tandem
                </label>
                <label class="btn btn-outline-warning">
                    <input (click)="changeIsGroup(true)" name="typeSaut" type="radio" value ="Group"> Group
                </label>
            </div>               
    </div>
    
	<div class="card-body"> 

            <!-- SOLO -->
            <div *ngIf = "!isGroup" class="form-group row">
                <label for="nom" class="col-sm-2 col-form-label">Ton nom: </label>
                <div class="col-sm-10">
                    <select class="form-control" id = "parachutiste" [(ngModel)]="parachutiste">
                        <ng-container *ngFor="let p of srvParachutiste.parachutistes">
                            <option *ngIf = "p!= videaste && p!= instructeur" [ngValue] = "p">
                                [Licence n°{{ p.numeroLicence }}] {{ p.prenom }} {{ p.nom }} - {{ p.niveau }}
                            </option>
                        </ng-container>
                    </select>
                </div>  
            </div>

            <!-- GROUPE -->
            <h3 *ngIf = isGroup >Ajouter un parachutiste</h3>
            <div *ngIf = "isGroup" class="form-group row">
                <label for="nom" class="col-sm-2 col-form-label">Ton nom: </label>
                <div class="col-sm-8">
                    <select class="form-control" id = "parachutiste" [(ngModel)]="parachutiste">
                        <option *ngFor="let p of confirmes()" [ngValue] = "p">
                            [Licence n°{{ p.numeroLicence }}] {{ p.prenom }} {{ p.nom }}  - {{ p.niveau }}
                        </option>
                    </select>
                </div>  
                <div class="col-sm-2">
                    <button (click)="ajouterParachutiste()" class="btn btn-primary m-1">Ajouter</button>
                </div>
            </div>

            <table *ngIf = "isGroup" class="table table-striped">
                <thead>
                    <tr>
                        <th>Licence</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th></th>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let parachutiste of parachutistes">
                        <td>{{ parachutiste.numeroLicence }}</td>
                        <td>{{ parachutiste.nom }}</td>
                        <td>{{ parachutiste.prenom }}</td>
                        <td><button (click)="supprimerParachutiste(parachutiste)" class="btn btn-danger m-1">Supprimer</button></td>
                    </tr>
                </tbody>
            </table>
           
            <!-- TANDEM -->
            <div *ngIf = "isTandem" class="form-group row">
                <label for="nom" class="col-sm-2 col-form-label">Instructeur: </label>
                <div class="col-sm-10">
                    <select class="form-control" id = "instructeur" [(ngModel)]="instructeur">
                        <ng-container *ngFor="let p of instructeurs()">
                            <option *ngIf="p != videaste && p != parachutiste" [ngValue] = "p">
                                [Licence n°{{ p.numeroLicence }}] {{ p.prenom }} {{ p.nom }}  - {{ p.niveau }}
                            </option>
                        </ng-container>
                    </select>
                </div>  
            </div>

            <div *ngIf = "isTandem" class="form-group row">
                <label for="nom" class="col-sm-2 col-form-label">Videaste: </label>
                <div class="col-sm-10">
                    <select class="form-control" id = "videaste" [(ngModel)]="videaste">
                        <ng-container *ngFor="let p of videastes()">
                            <option *ngIf="p != instructeur && p != parachutiste" [ngValue] = "p">
                                [Licence n°{{ p.numeroLicence }}] {{ p.prenom }} {{ p.nom }}  - VIDEASTE
                            </option>
                        </ng-container>
                    </select>
                </div>  
            </div>

        <!-- ALTITUDE -->
        <div class="form-group row">
            <label for="altitude" class="col-sm-2 col-form-label"> Altitude : </label>
            <div class="col-sm-10">
                <select class="form-control" name="altitude" [(ngModel)]="saut.altitude">
                    <option value="1200">1200m</option>
                    <option value="1600">1600m</option>
                    <option value="2000">2000m</option>
                    <option value="2500">2500m</option>
                    <option value="4000">4000m</option>
                    <option value="6000">6000m</option>
                </select>
            </div>
        </div>

    </div>
        <div *ngIf = "isGroup" class="card-footer text-right">
            <button (click)="ajouterSautGroup()" class="btn btn-success m-1">Lets jump now</button>
        </div>

        <div *ngIf = "!isGroup && !isTandem" class="card-footer text-right">
            <button (click)="ajouterSautSolo()" class="btn btn-success m-1">Lets jump now</button>
        </div>

        <div *ngIf = "isTandem" class="card-footer text-right">
            <button (click)="ajouterSautTandem()" class="btn btn-success m-1">Lets jump now</button>
        </div>
</div>

<!-- ESPACE AVIONNAGE -->
<div class="card m-3">
	<div class="card-header">
        <h5 class="card-title">Espace Avionnage</h5>

                    <label><strong>Liste des parachutistes en attente</strong></label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Prenom</th>
                                    <th>Altitude</th>
                                </tr>
                            </thead>
                        
                            <tbody>
                                <ng-container *ngFor="let saut of srvSaut.sauts">
                                        <tr *ngFor = "let parachutiste of parachutistesAttente(saut)">
                                            <td>{{ parachutiste.prenom }}</td>
                                            <td>{{ saut.altitude }}</td>
                                        </tr> 
                                </ng-container>
                            </tbody>
                        </table>
                
                
                    <label><strong>Liste des parachutistes enregistrés pour un vol</strong></label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Prenom</th>
                                    <th>Altitude</th>
                                </tr>
                            </thead>
                        
                            <tbody>
                                <tr *ngFor="let vol of srvVol.vols">
                                    <div *ngFor="let saut of vol.sauts">
                                        <div *ngFor="let parachutiste of saut.parachutistes">
                                            <td>{{ parachutiste.prenom }}</td>
                                            <td>{{ saut.altitude }}</td>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>

                <br>

                    <label><strong>Listes des vols en attente</strong></label>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Situation Vol</th>
                                <th>Sauts</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let v of srvVol.vols">
                                <tr *ngIf="!choixVol || v.idVol==vol.idVol" (click)="affichageVol(v.idVol)" class="choixTableau">
                                    <td>{{v.idVol}}</td>
                                    <td>{{v.situationVol}}</td>
                                    <td></td>
                                    <td>date</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
        
    </div>
</div>