<div class="html">
    <br>
    <div class="container w-75">
    <div class="row">
    <table class="table-dark table-striped table-hover">
        <thead>
            <th>
                Id
            </th>
            <th>
                matricule
            </th>
            <th>
                modele
            </th>
            <th>
                Alt. max
            </th>
            <th>
                capacite
            </th>
            <th>
                rotations
            </th>
            <th>
                etat
            </th>
            <th>
                situation
            </th>
            <th>
                status
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let a of avions" administration-avion-row [avion]="a"></tr>
            <tr administration-avion-formulaire></tr>
        </tbody>
    </table>
    </div>
</div>

</div>
