
<div class="card-header">
	<h5 class="card-title">Inscription d'un parachutiste</h5>
</div>
	
<div class="card-body">
	<div class="form-group row">
		<label for="dateVisite" class="col-sm-2 col-form-label">Nom : </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="nomParachutiste" [(ngModel)]="formParachutiste.nomParachutiste" />
		</div>
    </div>
    
    <div class="form-group row">
		<label for="dateVisite" class="col-sm-2 col-form-label">Prenom : </label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="prenomParachutiste" [(ngModel)]="formParachutiste.prenomParachutiste" />
		</div>
	</div>

	<div class="form-group row">
		<label for="prix" class="col-sm-2 col-form-label">Numero de license : </label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="numeroLicence" [(ngModel)]="formParachutiste.numeroLicence" />
		</div>
    </div>
    
    <div class="form-group row">
		<label for="prix" class="col-sm-2 col-form-label">Numero du parachute (0 si parachute perso) : </label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="numeroParachute" [(ngModel)]="formParachutiste.numeroParachute" />
		</div>
	</div>

	

	<div class="card-footer text-right">
		<button *ngIf="!isEditing" (click)="ajouterParachutiste()" class="btn btn-success m-1">Ajouter</button>
		<button *ngIf="isEditing" (click)="modifierParachutiste()" class="btn btn-warning m-1">Modifier</button>
	</div>




</div>
